simulator_type: maniskillhab
auto_reset: ${algorithm.auto_reset}
ignore_terminations: ${algorithm.ignore_terminations}
use_rel_reward: True
seed: 0
num_group: ${algorithm.num_group_envs}
group_size: ${algorithm.group_size}
use_fixed_reset_state_ids: ${algorithm.use_fixed_reset_state_ids}
max_episode_steps: 200
num_envs: ${multiply:${algorithm.group_size}, ${algorithm.num_group_envs}}
only_eval: False

video_cfg:
  save_video: True
  info_on_video: True
  video_base_dir: ${runner.logger.log_path}/video/train

stationary_head: True
stationary_torso: False
stationary_base: False

frame_stack_num: 1
stacking_keys: 
  - fetch_head_depth
  - fetch_hand_depth

log_extra_stat_keys: True

TASK: prepare_groceries  # options: 'prepare_groceries', 'set_table', 'tidy_house'
SUBTASK: pick
SPLIT: train
OBJ: 024_bowl
task_plan_fp: "${oc.env:MS_ASSET_DIR}/data/scene_datasets/replica_cad_dataset/rearrange/task_plans/${env.train.TASK}/${env.train.SUBTASK}/${env.train.SPLIT}/${env.train.OBJ}.json"
spawn_data_fp: "${oc.env:MS_ASSET_DIR}/data/scene_datasets/replica_cad_dataset/rearrange/spawn_data/${env.train.TASK}/${env.train.SUBTASK}/${env.train.SPLIT}/spawn_data.pt"

controller_config:
  stationary_base: True  # 2-dim
  stationary_body: True  # 3-dim

init_params:
  id: "PickSubtaskTrain-v0"
  max_episode_steps: ${env.train.max_episode_steps}
  obs_mode: "rgbd"  # can be replace by `rgb+depth`, `rgb+depth+segmentation` (or any combination of `rgb`, `depth`, `segmentation`). Besides, `rgbd` is a short hand for `rgb+depth`
  reward_mode: "normalized_dense"
  control_mode: "pd_joint_delta_pos"  # arm=arm_pd_joint_delta_pos(7-dim), gripper=gripper_pd_joint_pos(1-dim), body=body_pd_joint_delta_pos(head pan, head tilt, torso. 3-dim), base=base_pd_joint_vel(lin, ang. 2-dim),
  # control_mode: "pd_ee_delta_pose"  # arm=arm_pd_ee_delta_pose(6-dim), gripper=gripper_pd_joint_pos(1-dim), body=body_pd_joint_delta_pos(head pan, head tilt, torso. 3-dim), base=base_pd_joint_vel(lin, ang. 2-dim),
  render_mode: "rgb_array"  # ('human', 'rgb_array', 'sensors', 'all')  https://maniskill.readthedocs.io/en/latest/api/mani_skill/envs/sapien_env/index.html#mani_skill.envs.sapien_env.BaseEnv.SUPPORTED_RENDER_MODES
  shader_dir: "minimal"  # options: minimal, default, ... https://maniskill.readthedocs.io/en/latest/user_guide/concepts/sensors.html#shaders-and-textures
  robot_uids: "fetch"
  num_envs: ${multiply:${algorithm.group_size}, ${algorithm.num_group_envs}}
  sim_backend: "gpu"
  env_kwargs:
    robot_force_mult: 0.001
    robot_force_penalty_min: 0.2
    target_randomization: False
  sim_config:
    sim_freq: 120
    control_freq: 30
  # sensor_config:
  #   shader_pack: "default"

  #   base_camera:
  #     pose: sapien_utils.look_at([0.3, 0, 2], [-0.1, 0, 0.1])
  #     height: 128
  #     width: 128
  #     fov: 2
  #     near: 0.01
  #     far: 100,