simulator_type: maniskill

total_num_envs: null

auto_reset: False
ignore_terminations: False
use_rel_reward: True
reward_mode: raw
seed: 0
group_size: 1
use_fixed_reset_state_ids: False
max_steps_per_rollout_epoch: 50
max_episode_steps: 50 # max episode steps for truncation

video_cfg:
  save_video: True
  info_on_video: True
  video_base_dir: ${runner.logger.log_path}/video/train

frame_stack_num: 3
stacking_keys: 
  - fetch_head_depth
  - fetch_hand_depth

log_extra_stat_keys: True

TASK: set_table  # options: 'prepare_groceries', 'set_table', 'tidy_house'
SUBTASK: pick
SPLIT: train
OBJ: all
task_plan_fp: "${oc.env:MS_ASSET_DIR}/data/scene_datasets/replica_cad_dataset/rearrange/task_plans/${env.train.TASK}/${env.train.SUBTASK}/${env.train.SPLIT}/${env.train.OBJ}.json"
spawn_data_fp: "${oc.env:MS_ASSET_DIR}/data/scene_datasets/replica_cad_dataset/rearrange/spawn_data/${env.train.TASK}/${env.train.SUBTASK}/${env.train.SPLIT}/spawn_data.pt"

use_instruction: False  # True will open the fridge

controller_config:
  stationary_base: False  # 2-dim
  stationary_torso: False  # 3-dim
  stationary_head: True  # 2-dim

init_params:
  id: "PickSubtaskTrain-v0"
  obs_mode: "rgbd"  # can be replace by `rgb+depth`, `rgb+depth+segmentation` (or any combination of `rgb`, `depth`, `segmentation`). Besides, `rgbd` is a short hand for `rgb+depth`
  use_depth_only: True
  reward_mode: "normalized_dense"
  control_mode: "pd_joint_delta_pos"  # arm=arm_pd_joint_delta_pos(7-dim), gripper=gripper_pd_joint_pos(1-dim), body=body_pd_joint_delta_pos(head pan, head tilt, torso. 3-dim), base=base_pd_joint_vel(lin, ang. 2-dim),
  # control_mode: "pd_ee_delta_pose"  # arm=arm_pd_ee_delta_pose(6-dim), gripper=gripper_pd_joint_pos(1-dim), body=body_pd_joint_delta_pos(head pan, head tilt, torso. 3-dim), base=base_pd_joint_vel(lin, ang. 2-dim),
  render_mode: "all"  # ('human', 'rgb_array', 'sensors', 'all')  https://maniskill.readthedocs.io/en/latest/api/mani_skill/envs/sapien_env/index.html#mani_skill.envs.sapien_env.BaseEnv.SUPPORTED_RENDER_MODES
  shader_dir: "minimal"  # options: minimal, default, ... https://maniskill.readthedocs.io/en/latest/user_guide/concepts/sensors.html#shaders-and-textures
  robot_uids: "fetch"
  sim_backend: "gpu"
  env_kwargs:
    robot_force_mult: 0.001
    robot_force_penalty_min: 0.2
    target_randomization: False
  sim_config:
    sim_freq: 120
    control_freq: 20
  # sensor_config:
  #   shader_pack: "default"

  #   base_camera:
  #     pose: sapien_utils.look_at([0.3, 0, 2], [-0.1, 0, 0.1])
  #     height: 128
  #     width: 128
  #     fov: 2
  #     near: 0.01
  #     far: 100,